@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  list-style: none;
  transition: .3s ease-in-out;
}
:root{
  --red : #fc401f;
  --dark-red : #8f1a05;
  --black : #111214;
  --gray-text : #767678;
  --gray : #e5e5e7;
  --white : #ffffff;
  --box-shadow : 0px 19px 60px rgb(0 0 0 / 8%);
  --container-shadow: 0 20px 40px rgba(243, 243, 243, 0.932)
}

html{
  scroll-behavior: smooth;
}
body{
  background: var(--white);
}

.App{
  /* padding: 0.5rem 3.5rem; */
  overflow: hidden;
  color: var(--black);    
}
.grid{
  display: grid;
  align-items: center;
  gap: 1rem;
}
/* .container{
  max-width: 85%;
  margin: auto;
} */
.flex{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

a{
  color: var(--gray-text);
}
.icon{
  font-size: 1.5rem;
  cursor: pointer;
}
img{
  height: 100%;
  width: 100%;
}
.btn{
    padding: 10px 25px;
    border-radius: 50px;
    background-color: transparent;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}
.btn-red{
    color: var(--red);
    border: 1px solid var(--red);
}
.btn-red:hover{
    color: var(--white);
    background-color: var(--red);
}

  

  